<!-- 2.1 -->
<label>
  Hours
  <input #hours type="number" min="0" max="59" placeholder="hours" 
  [value]="d.getHours()" 
  (change)="d.updateState(hours.value, 'hours')"/>
</label>
<label>
  Minutes
  <input #minutes type="number" min="0" max="59" placeholder="minutes" 
  [value]="d.getMinutes()" 
  (change)="d.updateState(minutes.value, 'minutes')"/>
</label>
<label>
  Seconds
  <input #seconds type="number" min="0" max="59" placeholder="seconds" 
  [value]="d.getSeconds()" 
  (change)="d.updateState(seconds.value, 'seconds')"/>
</label>
<!-- End 2.1 -->
<br>
<label>
  Min
  <input #min type="number" placeholder="min" 
  [value]="d.getMin()" 
  (change)="d.updateIntervalState(min.value, 'min')"/>
</label>

<label>
  Max
  <input #max type="number" placeholder="max" 
  [value]="d.getMax()" 
  (change)="d.updateIntervalState(max.value, 'max')"/>
</label>
