/* You can add global styles to this file, and also import other style files */
/* #b7178c */
@keyframes colorhue{
    from {-webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg);}
    to {-webkit-filter: hue-rotate(359deg); filter: hue-rotate(359deg);}
}

.edit {
    animation: colorhue 10s linear infinite;
}

html, body {
    padding: 0;
    margin: 0;
    /* font-family: 'Share Tech', sans-serif; */
    font-family: 'Share Tech Mono', monospace;
}